services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      EMAIL_USER: ${EMAIL_USER}
      EMAIL_PASSWORD: ${EMAIL_PASSWORD}
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/burger_db
      PIX_CLIENT_ID: ${PIX_CLIENT_ID}
      PIX_CLIENT_SECRET: ${PIX_CLIENT_SECRET}
      PIX_CERTIFICATE_PATH: /app/certs/producao-853053-BurgerQueen2.p12
      PIX_SANDBOX: false
    volumes:
      - ./certs:/app/certs:ro
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:latest
    container_name: burgerQueen
    environment:
      POSTGRES_DB: burger_db
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d burger_db"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres-data: