spring:
  application:
    name: BurgerQueen

  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/burger_db}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USER}
    password: ${EMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          ssl:
            trust: smtp.gmail.com
jwt:
  public:
    key: ${JWT_PUBLIC_KEY:file:/app/authz.pub}
  private:
    key: ${JWT_PRIVATE_KEY:file:/app/authz.pem}

pix:
  client-id: ${PIX_CLIENT_ID}
  client-secret: ${PIX_CLIENT_SECRET}
  certificate-path: ${PIX_CERTIFICATE_PATH}
  sandbox: ${PIX_SANDBOX:false}